*{
    font-family: "Mulish", sans-serif;
  }
  
nav h3{
    font-weight: 400px;
    display: flex;
    margin-top: 50px;

}
nav h3 > span{
    padding-left: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul{
    display: flex;
    padding: 10px 10px;
}
nav li {
    list-style: none;
    margin-right: 20px;
    margin-top: 20px;
}
.hamburger{
    margin-top:20px ;
    display: none;
}
.banner{
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    position: relative;
}
.banner img{
    width: 100%;
}
.banner-first-part-heading{
    font-size: 2rem;
    font-weight: 600;
    color: aliceblue;
    position: absolute;
    top: 20px;
    left: 30%;
}
.banner-2nd-part-text{
    font-size: 1rem;
    position: absolute;
    top: 180px;
    left: 5%;
    color: aliceblue;
}
.banner-3rd-part{
    font-size: 1rem;
    position: absolute;
    top: 300px;
    left: 28%;
    display: flex;
}
.btn{
    border: 1px solid aliceblue;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: rgb(121, 118, 118);
    margin-right: 10px;
}
.findNow{
    background-color: rgb(238, 25, 25);
    color: white;
}
/*start of popular part*/
.popular-tour{
    width: 100%;
    display: flex;
    margin-top: 100px;
}
.popular-tour h3{
    font-size: 3rem;
    font-weight: 600px;
}
.popular-tour p{
    font-size: 1.5rem;
}
.popular-tour li{
    font-size: 1.5rem;
}
.img-popu-tour{
    margin-left: 150px;
}
.popu-btn{
    border: 1px solid aliceblue;
    border-radius: 10px;
    background-color: rgb(250, 75, 11);
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: rgb(241, 234, 234);
    margin-right: 10px;
}
/*start part three*/
.choose-destiny{
    display: flex;
    margin-top: 50px;
    position: relative;
    margin-bottom: 30px;
}
.destiny-prt-one h3{
    font-size: 3rem;
    font-weight: 600px;
    margin-top: 40px;
    position: absolute;
    left: 450px;
}
.destiny-prt-two p{
    font-size: 1.5rem;
    margin-top: 120px;
    position: absolute;
    left: 200px;
    margin-bottom: 90px;
}
.ds-part-three{
    width: 100%;
    height: 900px;
    margin-top: 170px;

}
.ds-part-3-1{
   width: 100%;
   height: 300px;
   position: relative;
   display: flex;
}
.ds-part-3-2{
    width: 100%;
    height: 300px;
    margin-top: 30px;
 }
 .ds-part-3-3{
    width: 100%;
    height: 300px;
    margin-top: 30px;
 }
 .ds-part-311{
    width: 600px;
    position: absolute;
    left: 150px;
 }
 .ds-part-312{
    position: absolute;
    left: 350px;
    top: 150px;
    color: aliceblue;
 }
 .ds-part-313{
    width: 600px;
    position: absolute;
    left: 790px;
    display: flex;
 }
 .ds-part-314{
    position: absolute;
    left: 1080px;
    top: 150px;
    color: aliceblue;
 }
 .ds-part-315{
    width: 600px;
    position: absolute;
    left: 150px;
 }
 .ds-part-316{
    position: absolute;
    left: 340px;
    top: 580px;
    color: aliceblue;
 }
 .ds-part-317{
    width: 600px;
    position: absolute;
    left: 580px;
    display: flex;
 }
 .ds-part-318{
    position: absolute;
    left: 810px;
    top: 580px;
    color: aliceblue;
 }
 .ds-part-319{
    width: 600px;
    position: absolute;
    left: 1100px;
    display: flex;
 }
 .ds-part-320{
    position: absolute;
    left: 1200px;
    top: 580px;
    color: aliceblue;
 }
 .ds-part-321{
    width: 600px;
    position: absolute;
    left: 150px;
 }
 .ds-part-322{
    position: absolute;
    left: 350px;
    top: 910px;
    color: aliceblue;
 }
 .ds-part-323{
    width: 600px;
    position: absolute;
    left: 700px;
    display: flex;
 }
 .ds-part-324{
    position: absolute;
    left: 1020px;
    top: 910px;
    color: aliceblue;
 }
 
/*media screen*/
/*mobile screen*/
@media screen and (max-width:600px){
    .nav{
        flex-direction: column;
        margin-top: 10px;
    }
    .nav > ul{
        display: none;
    }
    nav li {
        display: none;
    }
    .hamburger{
        margin-top:25px ;
        display:flex;
    }
    .banner{
        flex-direction: column;

    }
    .banner-first-part-heading{
        font-size: 0.6rem;
        font-weight:400;
        top: 5px;
        left: 35%;
        align-items: center;
    }
    .banner-2nd-part-text{
        font-size: 0.6rem;
        top: 25px;
        align-items: center;
    }
    .banner-3rd-part{
        font-size: 0.5rem;
        position: absolute;
        top: 80px;
        left: 35%;
        flex-direction: column;
    }
    .btn{
        padding: 3px 3px;
        font-size: 10px;
        margin: 2px 2px;
        border: 1px;
        width:150px;
        height: 20px;

    }
    .popular-tour{
        flex-direction: column;
        margin-top: 0px;
    }
    .popular-tour h3{
        font-size: 1rem;
        font-weight: 300px;
    }
    .popular-tour p{
        font-size: 0.8rem;
    }
    .popular-tour li{
        font-size: 0.8rem;
    }
    .img-popu-tour{
        margin-left: 0px;
        margin-top: 10px;
    }
    .choose-destiny{
        flex-direction: column;
    }
    .destiny-prt-one h3{
        font-size: 1rem;
        font-weight: 100px;
        top: 05px;
        flex-direction: column;
        text-align: center;
    }
    .destiny-prt-two p{
        font-size: 0.8rem;
        top: 40px;
        left: 10px;
        flex-direction: column;
        text-align: center;
    }
    
    .destiny-prt-three {
        flex-direction: column;
    }
    .ds-part-3-1{
        flex-direction: column;
     }
     .ds-part-3-2{
         flex-direction: column;
         margin-top: 0px;
      }
      .ds-part-3-3{
         flex-direction: column;
         margin-top: 0px;
      }
}
/*start of popular part*/    
/*start of popular part*/
/*start of popular part*/
/*medium screen*/
@media screen and (min-width:600px) and (max-width:992px) {
    .hamburger{
        display:none;
    }   
    .popular-tour{
        flex-direction: column;

    }
    .choose-destiny{
        flex-direction: column;
    }
}